<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>home</title>
</head>
<body>
    <main>
        <%- include('../partials/header.ejs', {page: "home"}) %>

        <ul class="productList_w">
            <% for (let i = 0; i < data.length; i++) { %>
                <%- include('../partials/product_card.ejs', {data: data[i]}) %>
              <% } %>
        </ul>

    </main>
</body>
<script>
    // console.log("home==>",{data})
</script>
</html>
